header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;

    background-color: #000000;
}

header .nav {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: #ffffff;

    font-size: 15px;
}

header a:hover {
    color: gray;
}

header .pages {
    display: flex;
    justify-content: space-between;
    width: 130px;
}