main {
    color: #ffffff;
    padding-left: 40px;
    
    height: 80vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

main .title {
    font-family: "Space Mono", monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;

    margin-bottom: 20px;
}

main .sub {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    color: #999999;
}